docs/n8n-workflow.json
{
  "name": "Orbit LP — Form to Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orbit-lead-vsl",
        "responseMode": "onReceived",
        "options": {
          "allowedOrigins": "https://canal.orbitgestao.com.br"
        }
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "honeypot-empty",
              "leftValue": "={{ ($json.body && $json.body.website) || $json.website || '' }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-honeypot",
      "name": "Honeypot OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\nconst onlyDigits = (v) => String(v || '').replace(/\\D/g, '');\n\nconst HIGH_REVENUE = ['R$100k-R$500k/mês', 'R$500k-R$1mi/mês', 'Acima de R$1mi/mês'];\nconst HIGH_PRIORITY = ['Urgente', '30 dias'];\n\nconst faturamento = String(body.faturamento || '');\nconst prioridade  = String(body.prioridade  || '');\nconst hasRevenue  = HIGH_REVENUE.includes(faturamento);\nconst hasPriority = HIGH_PRIORITY.includes(prioridade);\n\nlet score = 'Cold';\nif (hasRevenue && hasPriority) score = 'Hot';\nelse if (hasRevenue || hasPriority) score = 'Warm';\n\nreturn [{\n  json: {\n    timestamp:    new Date().toISOString(),\n    name:         String(body.name || '').trim(),\n    email:        String(body.email || '').trim().toLowerCase(),\n    phone:        onlyDigits(body.phone),\n    empresa:      String(body.empresa || '').trim(),\n    cargo:        String(body.cargo || ''),\n    atuacao:      String(body.atuacao || ''),\n    faturamento,\n    projetos:     String(body.projetos || ''),\n    prioridade,\n    variant:      String(body.variant || ''),\n    segment:      String(body.segment || ''),\n    page_url:     String(body.page_url || ''),\n    score,\n    utm_campaign: String(body.utm_campaign || ''),\n    utm_content:  String(body.utm_content  || ''),\n    utm_term:     String(body.utm_term     || ''),\n    utm_source:   String(body.utm_source   || '')\n  }\n}];"
      },
      "id": "normalize-node",
      "name": "Normalize + Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 220]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XcvNpThEypgFh_q93T4oCTY-9_9pQ0kSywzdqQLy2bk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Página1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "sheets-node",
      "name": "Append to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, 220]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Honeypot OK?", "type": "main", "index": 0 }]]
    },
    "Honeypot OK?": {
      "main": [
        [{ "node": "Normalize + Score", "type": "main", "index": 0 }],
        []
      ]
    },
    "Normalize + Score": {
      "main": [[{ "node": "Append to Sheet", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
